MONGODB_URI= "MONGO URI"
MSPD_URL= "MSPD API URL"
MSPD_SECRET= "MSPD API Secret"
DATA_ENC_KEY= "Data encryption key (32 bytes base64)"
DATA_KEY_ID= "Data key ID (e.g., v1)"
PINFL_HMAC_KEY= "PINFL HMAC key (32 bytes base64)"
JWT_SECRET= "JWT secret key (32 bytes base64)"
NODE_ENV= "development" # or "production"
NEXT_PUBLIC_BASE_URL= "Base URL for the frontend (e.g., http://localhost:3000 or https://qabul.dsba.uz)"
ONEID_CLIENT_ID= "OneID client ID"
ONEID_CLIENT_SECRET= "OneID client secret"
ONEID_SCOPE= "OneID scope"
ONEID_REDIRECT_URI= "OneID redirect URI"
UPLOAD_DIR= "Upload directory"
NEXT_PUBLIC_SERVICEID= "Service ID"
NEXT_PUBLIC_PAYMENT_SECRET_KEY= "Payment secret key"
NEXT_PUBLIC_MERCHANT_ID= "Merchant ID"
NEXT_PUBLIC_MERCHANT_USER_ID= "Merchant User ID"
NEXT_PUBLIC_AMOUNT= "Amount"
